{% extends "adminlayout.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class=" mt-5 col-sm-6">
          <img src="{% static 'IMAGES\admin.webp'%}"  alt="">
        </div>
        <div class=" mt-5 col-sm-6">
            <h3>Admin Page</h3>
            <p>The Online Shop Admin is responsible for managing and maintaining the company's online shop, ensuring smooth operations and exceptional customer experience. This role involves updating product listings, managing inventory, processing orders, and resolving customer inquiries.</p>
            <p> An effective job title wiil typically include a general term, the level of experience and any special requirements. The general term will optimize your job title to show up in a general search for jobs of the same nature. The level of experience will help you attract the most qualified applicants by outlining the amount of responsibility and prior knowledge required. And if your position is specialized, consider including the specialization in the job title as well. But avoid using internal titles, abbreviations or acronyms to make sure people understand what your job posting is before clicking.


Copy this section
Administrator
            </p>
        </div>
    </div>
</div>
{% endblock%}