{% extends "adminlayout.html" %}
{% load static %}
{% block content %}
<div>
   <h1>WEBSITE</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"><!--col1-->
        <div class="card">
          <div class="card-header bg-success text-white">Pink Dress</div>
          <div class="card-body bg-primary">
            <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\1d.webp' %}" alt=""> 
          </div>
          <div class="card-footer bg-success text-white">
              Price<button class='btn btn-primary'>Rs:499/-</button>
          </div>
        </div>
    </div><!--co1 end-->
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header bg-info text-white">Pink Frock</div>
                <div class="card-body bg-secondary">
                    <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\2d.webp' %}" alt="">
                </div>
                <div class="card-footer bg-info text-white">
                    Price <button class='btn btn-secondary'>Rs:321/-</button></div>
            </div>
       </div>
       <div class="col-sm-3">
        <div class="card">
            <div class="card-header bg-primary text-white">White Frock</div>
            <div class="card-body bg-info">
                <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\3d.webp' %}" alt="">
            </div>
            <div class="card-footer bg-primary text-white">
              price <button class='btn btn-info'>Rs:1099/-</button></div>
            </div>
         </div> 
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header bg-secondary text-white">dress</div>
                    <div class="card-body bg-success">
                        <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\4dress.webp' %}" alt="">
                    </div>
                    <div class="card-footer bg-secondary text-white">
                        Price <button class='btn btn-success'>Rs: 825/-</button></div>
                </div> 
            </div>
            <div class="col-sm-3"><!--col1-->
                <div class="card">
                  <div class="card-header bg-success text-white">Gold</div>
                  <div class="card-body bg-primary">
                    <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\1j.webp' %}" alt="">
                  </div>
                  <div class="card-footer bg-success text-white">
                      Price<button class='btn btn-primary'>Rs:156/-</button>
                  </div>
                </div>   
            </div><!--co1 end--> 
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header bg-info text-white">jwellery</div>
                    <div class="card-body bg-secondary">
                        <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\2jwe.jpg' %}" alt="">
                    </div>
                    <div class="card-footer bg-info text-white">
                        Price<button class='btn btn-secondary'>Rs:512/-</button></div>
                </div>
           </div> 
           <div class="col-sm-3">
            <div class="card">
                <div class="card-header bg-primary text-white">jwellery</div>
                <div class="card-body bg-info">
                    <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\3j.jpg' %}" alt="">
                </div>
                <div class="card-footer bg-primary text-white">
                    Price<button class='btn btn-info'>Rs:427/-</button></div>
                </div>
             </div> 
             <div class="col-sm-3">
                <div class="card">
                    <div class="card-header bg-secondary text-white">jwellery</div>
                    <div class="card-body bg-success">
                        <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\4j.jpeg' %}" alt="">
                    </div>
                    <div class="card-footer bg-secondary text-white">
                        Price<button class='btn btn-success'>Rs: 700/-</button></div>
               </div> 
            </div> 
            <div class="col-sm-3">
              <div class="card">
                  <div class="card-header bg-secondary text-white">FootWear</div>
                  <div class="card-body bg-success">
                      <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\1f.jpg' %}" alt="">
                  </div>
                  <div class="card-footer bg-secondary text-white">
                      Price <button class='btn btn-success'>Rs: 699/-</button></div>
             </div> 
          </div> 
          <div class="col-sm-3">
            <div class="card">
                <div class="card-header bg-secondary text-white">FootWear</div>
                <div class="card-body bg-success">
                    <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\2f.jpg' %}" alt="">
                </div>
                <div class="card-footer bg-secondary text-white">
                    Price <button class='btn btn-success'>Rs: 149/-/-</button></div>
           </div> 
        </div> 
        <div class="col-sm-3">
          <div class="card">
              <div class="card-header bg-secondary text-white">FootWear</div>
              <div class="card-body bg-success">
                  <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\3f.jpg' %}" alt="">
              </div>
              <div class="card-footer bg-secondary text-white">
                  Price <button class='btn btn-success'>Rs: 999/-</button></div>
         </div> 
      </div> 
      <div class="col-sm-3">
        <div class="card">
            <div class="card-header bg-secondary text-white">FootWear</div>
            <div class="card-body bg-success">
                <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\4f.jpg' %}" alt="">
            </div>
            <div class="card-footer bg-secondary text-white">
                Price <button class='btn btn-success'>Rs:350/-</button></div>
       </div> 
    </div> 
    <div class="col-sm-3">
      <div class="card">
          <div class="card-header bg-secondary text-white">Books</div>
          <div class="card-body bg-success">
              <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\book.jpg' %}" alt="">
          </div>
          <div class="card-footer bg-secondary text-white">
              Price <button class='btn btn-success'>Rs:99/-/-</button></div>
     </div> 
  </div> 
  <div class="col-sm-3">
    <div class="card">
        <div class="card-header bg-secondary text-white">Books</div>
        <div class="card-body bg-success">
            <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\2b.jpg' %}" alt="">
        </div>
        <div class="card-footer bg-secondary text-white">
            Price <button class='btn btn-success'>Rs:169/-</button></div>
   </div> 
  </div> 
  <div class="col-sm-3">
    <div class="card">
        <div class="card-header bg-secondary text-white">Books</div>
        <div class="card-body bg-success">
            <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\boo.jpg' %}" alt="">
        </div>
        <div class="card-footer bg-secondary text-white">
            Price <button class='btn btn-success'>Rs:239/-</button></div>
   </div> 
</div> 
<div class="col-sm-3">
  <div class="card">
      <div class="card-header bg-secondary text-white">Books</div>
      <div class="card-body bg-success">
          <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\4b.jpg' %}" alt="">
      </div>
      <div class="card-footer bg-secondary text-white">
          Price <button class='btn btn-success'>Rs:299/-</button></div>
 </div> 
</div> 
<div class="col-sm-3">
  <div class="card">
      <div class="card-header bg-secondary text-white">Metal Bottles Combo</div>
      <div class="card-body bg-success">
          <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\1m.jpeg' %}" alt="">
      </div>
      <div class="card-footer bg-secondary text-white">
          Price <button class='btn btn-success'>Rs:499/-</button></div>
 </div> 
</div> 
<div class="col-sm-3">
  <div class="card">
      <div class="card-header bg-secondary text-white">Metal Bottle</div>
      <div class="card-body bg-success">
          <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\bottle.jpg' %}" alt="">
      </div>
      <div class="card-footer bg-secondary text-white">
          Price <button class='btn btn-success'>Rs:100/-</button></div>
 </div> 
</div> 
<div class="col-sm-3">
  <div class="card">
      <div class="card-header bg-secondary text-white">Plastic Bottles Combo</div>
      <div class="card-body bg-success">
          <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\3m.jpg' %}" alt="">
      </div>
      <div class="card-footer bg-secondary text-white">
          Price <button class='btn btn-success'>Rs:300/-</button></div>
 </div> 
</div> 
<div class="col-sm-3">
  <div class="card">
      <div class="card-header bg-secondary text-white">Bottles</div>
      <div class="card-body bg-success">
          <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\4m.webp' %}" alt="">
      </div>
      <div class="card-footer bg-secondary text-white">
          Price <button class='btn btn-success'>Rs:150/-</button></div>
 </div> 
</div> 
<div class="col-sm-3">
  <div class="card">
      <div class="card-header bg-secondary text-white">Girls College Bags</div>
      <div class="card-body bg-success">
          <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\bag.webp' %}" alt="">
      </div>
      <div class="card-footer bg-secondary text-white">
          Price <button class='btn btn-success'>Rs:300/-</button></div>
 </div> 
</div> 
<div class="col-sm-3">
  <div class="card">
      <div class="card-header bg-secondary text-white">College Bag</div>
      <div class="card-body bg-success">
          <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\2c.jpg' %}" alt="">
      </div>
      <div class="card-footer bg-secondary text-white">
          Price <button class='btn btn-success'>Rs:249/-</button></div>
 </div> 
</div> 
<div class="col-sm-3">
  <div class="card">
      <div class="card-header bg-secondary text-white"> Laguage Bags combo</div>
      <div class="card-body bg-success">
          <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\3c.webp' %}" alt="">
      </div>
      <div class="card-footer bg-secondary text-white">
          Price <button class='btn btn-success'>Rs:999/-</button></div>
 </div> 
</div> 
<div class="col-sm-3">
  <div class="card">
      <div class="card-header bg-secondary text-white">School Bags</div>
      <div class="card-body bg-success">
          <img class="img img-thumbnail border border-5 border-success" src="{% static 'IMAGES\4c.jpg' %}" alt="">
      </div>
      <div class="card-footer bg-secondary text-white">
          Price <button class='btn btn-success'>Rs:150/-</button></div>
 </div> 
</div>
</div>
{% endblock %}